*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(pic9.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form{ 
    width: 420px;
    background-color: transparent;
    backdrop-filter: blur(25px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    border-radius: 20px;
    padding: 30px 40px;
}

h1{
    font-size: 2rem;
    text-align: center;
}

/** INPUT **/

.input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
    font-size: 1rem;
}

.input-box i{
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    font-size: 20px;
}

/** REMEMBER-FORGOT **/
.remember-forget{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
}

.remember-forget label input{
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forget a{
    color: #fff;

    &:hover{
        text-decoration: underline;
    }
}

/** BUTTON **/
button{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 45px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 1rem;
    color: #333;
    font-weight: 600;
}

/** REGISTER **/
.new-reg{
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    padding: 20px 0 15px;
}

.new-reg a{
    color: #fff;
    font-weight: 600;

    &:hover{
        text-decoration: underline;
    }
}